body{
    background: #1E1528;
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

#cards{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.link{
    width: 100%;
    max-width: calc(70vw / 7);
    height: 180px;
    border: 5px solid #1BCE18;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: border;
    transition-duration: .3s;
}

.link img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.link h1{
    font-size: 24px;
}

.link p{
    display: none;
}


.link:hover{
    border: 5px solid #ce18b0;
}

.clock{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    background: #0B0215;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.clock span{
    font: 400 48px 'Audiowide';
    color: #fff;
    width: 60px;
    display: grid;
    place-items: center;
}

.separation{
    opacity: 0.4;
}

.rb{
    display: none;
}

.rb:checked ~ .content{
    display: block;
}

.rb:checked ~ .label-tg{
    opacity: 1;
}

.label-tg{
    width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.5;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    background: #1BCE18;
    box-sizing: border-box;
    font: 700 20px 'Ubuntu';
}

.content{
    width: 100%;
    height: max-content;
    background: transparent;
    border-radius: 16px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    display: none;
    border: 1px solid black;
}

.tab-icon{
    height: 20px;
    width: auto;
}